<ion-item lines="none" color="medium" *ngIf="!loading; else tplLoading">
  <ion-icon slot="start" [name]="getIcon()"></ion-icon>
  <ion-label>{{getLabel()}}</ion-label>
  <ion-note slot="end" color="light">{{getNoteText()}}</ion-note>
</ion-item>
<ng-template #tplLoading>
  <ion-item lines="none" color="medium">
    <ion-skeleton-text slot="start" animated style="width: 20px;"></ion-skeleton-text>
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-skeleton-text slot="end" animated style="width: 40px;"></ion-skeleton-text>
  </ion-item>
</ng-template>