<ion-header>
  <ion-toolbar color="aula-movil">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Membresia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" class="ion-padding">
  <ion-card *ngFor="let product of products">
    <ion-card-header [color]="getColor(product)">
      <ion-card-title>
        <ion-icon [name]="getIcon(product)"></ion-icon>
        <ion-label class="ion-margin-horizontal">{{product.name}}</ion-label>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-label>{{getValidity(product)}}</ion-label>
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-badge color="danger">{{getCanceledLabel(product)}}</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-list lines="full">
        <ion-item *ngFor="let metadata of product.metadata">
          <ion-icon slot="start" [name]="metadata.key"></ion-icon>
          <ion-label class="ion-text-wrap">{{metadata.value}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-button size="block" *ngIf="alreadyHasSubscription(product); else noSubscription"
                  class="ion-margin" color="danger" (click)="showCancelSubscription(product)">
        <ion-label>Cancelar subscripción</ion-label>
      </ion-button>
      <ng-template #noSubscription>
        <ion-button size="block" color="aula-movil" *ngFor="let plan of product.plans"
                    (click)="createSubscription(plan, product)" class="ion-margin">
          <ion-label>{{(plan.amount / 100) | currency: plan.currency}} {{plan.interval | planInterval: plan.interval_count}}</ion-label>
        </ion-button>
      </ng-template>
    </ion-card-content>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="aula-movil" (click)="showPaymentsPage()">
      <ion-icon name="card"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
